{% extends "layout.html" %}
{% block main %}
<h3>Create Daily Status Report</h3>
<form class="form-container" action="/createTask/" enctype="multipart/form-data" method="post" style="max-width: 600px">
    {% csrf_token %}
    <input type="hidden" name="user" value="{{request.user.id}}">
    <div class="form-group">
        <label for="project-name">Project Name:</label>
        <select id="project-name" name="project" required>
            {% for key, value in project.items %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="row" style="width: 100%">
        <div class="col-lg-6" style="padding-left: 0">
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" required>
            </div>
        </div>
        <div class="col-lg-6" style="padding-right: 0">
            <div class="form-group">
                <label for="status">Status:</label>
                <select name="status" class="txt2" required style="height: 100%"
                <option value="completed">Completed</option>
                <option value="progress">In Progress</option>
                <option value="start">Yet-To-Start</option>
            </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="tasks">Tasks:</label>
        <div class="form-group-tasks">
            <textarea id="tasks" rows="4" name="taskDescription" required></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="accomplishments">Accomplishments:</label>
        <textarea id="accomplishments" rows="4" name="accomplishments" requried></textarea>
    </div>
    <div class="form-group">
        <label for="blockers">Blockers:</label>
        <textarea id="blockers" rows="4" name="blockers"></textarea>
    </div>
    <div class="form-group">
        <label for="file-upload">Upload Files:</label>
        <input type="file" id="file-upload" name="document">
    </div>
    <button type="submit">Finalize & Submit</button>
</form>
<script>
    const date=new Date()
    const dd=String(date.getDate()).padStart(2,"0")
    const mm = String(date.getMonth()+1).padStart(2,"0")
    const yyyy=String(date.getFullYear())
    const dateElement = document.getElementById("date")
    dateElement.setAttribute("max",yyyy+"-"+mm+"-"+dd)
</script>
{% endblock %}

