<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        .custab{
            border: 1px solid #ccc;
            padding: 5px;
            margin: 5% 0;
            box-shadow: 3px 3px 2px #ccc;
            transition: 0.5s;
            }
        .custab:hover{
            box-shadow: 3px 3px 0px transparent;
            transition: 0.5s;
            }
    </style>
</head>
<div class="container">
    
    <div class="row col-md-6 col-md-offset-2 custyle">
    <h3>Project</h3>
    <h4>
        {% for key,value in projects.items %}
        {{value}}
        {% endfor %}
    </h4>
    <h4>Project Members</h4>
    <ul>
        <li><a href="/viewMembersTasks/">All</a></li>
        {% for key,value in members.items %}
            <li><a href="/viewMemberTasks/{{key}}/">{{value}}</a></li>
        {% endfor %}
    </ul>
    <form id="form" action="{{request.path}}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="date" name="date">
        <button type="submit">Apply Filter</button>
    </form>
    {%if tasks %}
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Date</th>
            <th>Report</th>
            <th>Accomplishments</th>
            <th>Concerns/Blockers</th>
        </tr>
    </thead>
            {% for task in tasks%}
            <tr>
                <td>{{task.user.first_name}} {{task.user.last_name}}</td>
                <td>{{task.date}}</td>
                <td>{{task.taskDescription}}</td>
                <td>{{task.accomplishments}}</td>
                <td>{{task.blockers}}</td>
                {% comment %} <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td> {% endcomment %}
            </tr>
            {% endfor %}
    </table>
    {%else%}
    <h4>No reports</h4>
    {% endif %}
    </div>
</div>
<script>

</script>