<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status Report</title>
    {% include 'css.html' %}
{#    <link rel="stylesheet" href="{% static "css/style1.css" %}">#}
    <link rel="stylesheet" href="{% static "css/style2.css" %}">
</head>
<body>
    <div class="header">
        <div class="header-left">
            <h2>{{request.user.first_name}} {{request.user.last_name}}</h2>
        </div>
        <div class="header-middle">
            <h2>International Software Systems, Inc.<br>Status Report Manager</h2>
        </div>
        <div class="header-right">
            <a href="/logout">Logout</a>
        </div>
    </div>
    
    <div class="main-content">
        <div class="sidebar">
            <a href="/viewTasks/">View</a>  
            <a href="/createTask/">Create</a>  
            <a href="/viewMembersTasks/">Project Reports</a>
        </div>

        <div class="employee-list">
            <a href="/viewMembersTasks/">All Members</a>
            {% for key,value in members.items %}
                <a href="/viewMemberTasks/{{key}}/">{{value}}</a>
            {% endfor %}
        </div>

        <div class="content container d-flex justify-content-center align-items-center" style="margin-left: 0; ">
            <div class="form-container">
                <h3 style="text-align: center">Project :
                    {% for key,value in projects.items %}
                    <b>{{value}}</b>
                    {% endfor %}</h3>
                    <form id="form" action="{{request.path}}" method="post" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <input type="date" name="date" >
                        <button type="submit">Apply Filter</button>
                    </form>

                {% if tasks %}
                <table>
                    <tr>
                        <th>Employee</th>
                        <th>Date</th>
                        <th>Report</th>
                        <th>Accomplishments</th>
                        <th>Concerns/Blockers</th>
                        <th>Files</th>
                    </tr>
                    {% for task in tasks%}
                        <tr>
                            <td>{{task.user.first_name}} {{task.user.last_name}}</td>
                            <td>{{task.date}}</td>
                            <td>{{task.taskDescription}}</td>
                            <td>{{task.accomplishments}}</td>
                            <td>{{task.blockers}}</td>
                            <td><a href="/files/{{task.document}}">{{task.document}}</a></td>
                        </tr>
                    {% endfor %}


                </table>
                {%else%}
                    <h4>No reports</h4>
                {% endif %}
            </div>
        </div>
    </div>

    {% include 'js.html' %}
</body>
</html>