<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        .custab{
            border: 1px solid #ccc;
            padding: 5px;
            margin: 5% 0;
            box-shadow: 3px 3px 2px #ccc;
            transition: 0.5s;
            }
        .custab:hover{
            box-shadow: 3px 3px 0px transparent;
            transition: 0.5s;
            }
    </style>
</head>

<div class="container">
    {% comment %} <form id="form" action="/viewTasks/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="date" name="date" >
        <button type="submit">Apply Filter</button>
    </form> {% endcomment %}
    <div class="row col-md-6 col-md-offset-2 custyle">
    <h3>Project Team Memebrs</h3>
    {% for key,value in projects.items %}
        <li>{{value}}</li>
    {% endfor %}
    <br>
    <h3>My reports</h3>
    <br>
    {%if tasks %}
    <table class="table table-striped custab">
    <thead>
    {% comment %} <a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a> {% endcomment %}
        <tr>
            <th>Project</th>
            <th>Date</th>
            <th>Report</th>
            <th>Accomplishments</th>
            <th>Concerns/Blockers</th>
            {% comment %} <th class="text-center">Action</th> {% endcomment %}
        </tr>
    </thead>
            {% for task in tasks%}
            <tr>
                <td>{{task.project.name}}</td>
                <td>{{task.date}}</td>
                <td>{{task.taskDescription}}</td>
                <td>{{task.accomplishments}}</td>
                <td>{{task.blockers}}</td>
                {% comment %} <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td> {% endcomment %}
            </tr>
            {% endfor %}
    </table>
    {%else%}
    <h4>No reports</h4>
    {% endif %}
    </div>
</div>
<script>

</script>