body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF7E5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    background-color: #800000;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.header-left {
    flex: 1;
}
.header-middle {
    text-align: center;
    flex: 2;
}
.header-right {
    flex: 1;
    text-align: right;
}
.header-right a {
    color: white;
    text-decoration: none;
}
.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #f4f4f4;
    position: fixed;
    left: 0;
    top: 115px;
    bottom: 0;
    height: calc(100vh - 0px); 
    box-sizing: border-box;
}
.sidebar a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 15px;
}
.sidebar a:hover {
    background-color: #ddd;
}
.main-content {
    display: flex;
    margin-left: 200px;
    flex: 1;
}
.employee-list {
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.employee-list a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 15px;
}
.employee-list a:hover {
    background-color: #ddd;
}
.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}
.form-container {
    width: 100%;
    max-width: 900px;
}
.form-container input[type="date"] {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.form-container button {
    padding: 5px 10px;
    background-color: #1e5da0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-container button:hover {
    background-color: #144a82;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #FFF7E5;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
@media (max-width: 768px) {
    .sidebar, .employee-list, .content {
        float: none;
        width: 100%;
        height: auto;
    }
    .main-content {
        flex-direction: column;
        margin-left: 0;
    }
}