{% extends "layout.html" %}
{% block main %}
<h3>Create Daily Status Report</h3>
<form class="form-container" action="/createTask/" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <input type="hidden" name="user" value="{{request.user.id}}">
    <div class="form-group">
        <label for="project-name">Project Name:</label>
        <select id="project-name" name="project" required>
            {% for key, value in projects.items %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>
    </div>
    <div class="form-group">
        <label for="tasks">Tasks:</label>
        <div class="form-group-tasks">
            <textarea id="tasks" rows="4" name="taskDescription" required></textarea>
            <select name="status" class="txt2" required>
                <option value="completed">Completed</option>
                <option value="progress">In Progress</option>
                <option value="start">Yet-To-Start</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="accomplishments">Accomplishments:</label>
        <textarea id="accomplishments" rows="4" name="accomplishments" requried></textarea>
    </div>
    <div class="form-group">
        <label for="blockers">Blockers:</label>
        <textarea id="blockers" rows="4" name="blockers"></textarea>
    </div>
    <div class="form-group">
        <label for="file-upload">Upload Files:</label>
        <input type="file" id="file-upload" name="document">
    </div>
    <button type="submit">Finalize & Submit</button>
</form>
{% endblock %}

