{% extends "layout.html" %}
{% block main %}
<div class="form-container">
    <h3>Reports</h3>
    <form id="form" action="/viewTasks/" method="post" enctype="multipart/form-data">
        <div class="form-group-inline">
            {% csrf_token %}
            <div class="form-item">
                <label for="project">Project:</label>
                <select name="project" class="project">
                    <option value="">Select a Project</option>
                    {% for key, value in projects.items %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-item">
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" >
            </div>
            <div class="form-item button-item">
                <button type="submit">Apply Filter</button>
            </div>
    </div>
    </form>
    {% if tasks %}
    <table>
        <thead>
            <tr>
                <th>Project</th>
                <th>Date</th>
                <th>Task Description</th>
                <th>Accomplishments</th>
                <th>Concerns/Blockers</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{task.project.name}}</td>
                <td>{{task.date}}</td>
                <td>{{task.taskDescription | truncatewords:5}}</td>
                <td>{{task.accomplishments | truncatewords:5}}</td>
                <td>{{task.blockers | truncatewords:5}}</td>
                <td><button onclick="onclicking(event,{{task.id}})"><i class="fa fa-eye" style="font-size:24px"></i></button></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {% else %}
    <p><b>No Reports</b></p>
    {% endif %}
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const date=new Date()
    const dd=String(date.getDate()).padStart(2,"0")
    const mm = String(date.getMonth()+1).padStart(2,"0")
    const yyyy=String(date.getFullYear())
    const dateElement = document.getElementById("date")
    dateElement.setAttribute("max",yyyy+"-"+mm+"-"+dd)
    async function onclicking(event,taskId){
        try{
            event.preventDefault()
            let response = await axios.get(`/viewTasks/${taskId}`)
            taskelement = document.getElementById("myTask")
            taskelement.innerHTML=`
                <h4>Project :</h4>
                <p>${response["data"]["project"]}</p>
                <br>
                <h4>Report Description</h4>
                <p>${response["data"]["taskDescription"]}</p>
                <br>
                <h4>Accomplishments</h4>
                <p>${response["data"]["accomplishments"]}</p>
                <br>
                <h4>Concerns/Blockers</h4>
                <p>${response["data"]["blockers"]}</p>
                <br>
            `
            $(`#exampleModalLong`).modal(`show`)
        }catch(error){
            console.log(error)
        }
    }
</script>
{% endblock %}
