<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status Report</title>
    <link rel="stylesheet" href="{% static "css/style2.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="header">
        <div class="header-left">
            <h2>{{request.user.first_name}} {{request.user.last_name}}</h2>
        </div>
        <div class="header-middle">
            <h2>International Software Systems, Inc.<br>Status Report Manager</h2>
        </div>
        <div class="header-right">
            <a href="/logout">Logout</a>
        </div>
    </div>
    
    <div class="main-content">
        <div class="sidebar"> 
            <a href="/executive/">Projects Reports</a>
        </div>

        <div class="employee-list">
            <a href="/executive/">All Members</a>
            {% for key,value in employees.items %}
                <a href="/executiveMemberTasks/{{key}}/">{{value}}</a>
            {% endfor %}
        </div>
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Report</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="myTask"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" style="margin-left: 0;">
            <div class="form-container">
                    <form id="form" action="{{request.path}}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <select name="project" id="project">
                            <option value="">Select a Project</option>
                            {% for key,value in projects.items %}
                                <option value="{{key}}">{{value}}</option>
                            {% endfor %}
                        </select>
                        <input type="date" name="date">
                        <button type="submit">Apply Filter</button>
                    </form>
                {% if tasks %}
                <table>
                    <tr>
                        <th>Employee</th>
                        <th>Date</th>
                        <th>Project</th>
                        <th>Report</th>
                        <th>Accomplishments</th>
                        <th>Concerns/Blockers</th>
                        <th>View</th>
                    </tr>
                    {% for task in tasks%}
                        <tr>
                            <td>{{task.user.first_name}} {{task.user.last_name}}</td>
                            <td>{{task.date}}</td>
                            <td>{{task.project.name}}</td>
                            <td>{{task.taskDescription | truncatewords:5}}</td>
                            <td>{{task.accomplishments | truncatewords:5}}</td>
                            <td>{{task.blockers | truncatewords:5}}</td>
                            <td>
                                <button onclick="onclicking(event, {{ task.id }})">
                                    <i class="fa fa-eye" style="font-size:24px"></i>
                                </button>
                            </td>
                            {% comment %} <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td> {% endcomment %}
                        </tr>
                    {% endfor %}
                </table>
                {%else%}
                    <h4>No reports</h4>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
<script>
    const date=new Date()
    const dd=String(date.getDate()).padStart(2,"0")
    const mm = String(date.getMonth()+1).padStart(2,"0")
    const yyyy=String(date.getFullYear())
    const dateElement = document.getElementById("date")
    dateElement.setAttribute("max",yyyy+"-"+mm+"-"+dd)
    async function onclicking(event, taskId) {
        try {
            event.preventDefault();
            let response = await axios.get(`/viewTasks/${taskId}`);
            let taskElement = document.getElementById("myTask");
            taskElement.innerHTML = `
                <h4>Project:</h4>
                <p>${response.data.project}</p>
                <br>
                <h4>Report Description</h4>
                <p>${response.data.taskDescription}</p>
                <br>
                <h4>Accomplishments</h4>
                <p>${response.data.accomplishments}</p>
                <br>
                <h4>Concerns/Blockers</h4>
                <p>${response.data.blockers}</p>
                <br>
            `;
            $('#exampleModalLong').modal('show');
        } catch (error) {
            console.log(error);
        }
    }
</script>